@model EmployeeCRUD.Models.UsersConsumptionData

<div>
    <h4>UsersConsumptionData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESOURCEGROUP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESOURCEGROUP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Environment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Environment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SplitPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SplitPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SplitGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SplitGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordCreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordCreatedOn)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
